<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
	<listener class-name="extentlisteners.ExtentListeners" />
		</listeners>


  <test name="Find New Car Test">
    <classes>
      <class name="testcases.FindNewCarTest"/>

    </classes>
  </test> <!-- Test -->
  
  
  
  <test name="Car Name and Price Test">
    <classes>
      <class name="testcases.CarNameAndPriceTest"/>

    </classes>
  </test> <!-- Test -->
  
    
</suite> <!-- Suite -->
